# Environment-specific configuration
environment = "dev"

# S3 bucket specific to dev
bucket_name  = "dev-static-website-bucket"

# CodePipeline specific to dev
pipeline_name = "dev-static-website-pipeline"

# GitHub personal access token (specific for this environment or user)
github_token = "replace-with-your-github-token"